html, body {
    /* vh = viewport height / window height */
    min-height: 100vh;
}
body {
    background-color: rgb(129, 241, 144);
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.logo {
    width: 100px;
    transition: transform 1s;
}
.logo:hover {
    transform: rotate(90deg);
}
.main-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:#035422;
}
.main-navigation {
    justify-self: end;
    align-self: end;
    display: flex;
    font-family: 'Oswald', sans-serif;
}
.main-navigation a {
    color: #ffffff;
    display: block;
    padding: 12px;
    text-decoration: none;
}
/* :hover is a pseudo class */
.main-navigation a:hover {
    background-color: #314e3c;
}
.content {
    margin: auto 50px;
    display: grid;
    grid-template-columns: repeat( 12, 1fr );
    grid-column-gap: 15px;
    grid-row-gap: 30px;
}
.banner {
    min-height: 70vh;
    background-color: #05e35a;
    display: grid;
    place-items: center;
    background-image: url('images/luca-bravo-ESkw2ayO2As-unsplash.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 1 / span 12;
}
.banner h1 {
    font-size: 3.2em;
    color: white;
    text-shadow:0px 0px 2px black;
    background-color:rgba(0,0,0,0.5);
    padding: 5px;
}
.card {
    grid-column: span 4;
}
.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}
.copyright {
    grid-column-start: 1;
    grid-row-start: 2;
}
.social-nav {
    grid-column-start: 3;
    grid-row-start: 1;
    justify-self: end;
}
.social-nav a {
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    padding: 5px;
}
.social-nav a:hover {
    color: white;
}